In [70]:
name = "Revan"
age = 17
address, province = "cisaat","7413412"
scorePython = 99.5
isMarried = False

print("Nama :",name)
print("Umur :",age)
print("Alamat :",address)
print("Nilai Pemrograman :",scorePython)
print("Status Nikah :",isMarried)

print("Tipe Data <name>",type(name))
print("Tipe Data <age>",type(age))
print("Tipe Data <address>",type(address))
print("Tipe Data <province>",type(province))
print("Tipe Data <scorePython>",type(scorePython))
print("Tipe Data <isMarried>",type(isMarried))

Nama : Revan
Umur : 17
Alamat : cisaat
Nilai Pemrograman : 88.5
Status Nikah : False
Tipe Data <name> <class 'str'>
Tipe Data <age> <class 'int'>
Tipe Data <address> <class 'str'>
Tipe Data <province> <class 'str'>
Tipe Data <scorePython> <class 'float'>
Tipe Data <isMarried> <class 'bool'>

In [58]:
#Casting atau konversi Tipe Data
#Konversi dari String ke (int,float,bool)
strToInt = int(province)
strToFloat = float(province)
strToBool = bool(province)
print(strToInt,strToFloat,strToBool, sep="-")
#Konversi dari int ke (str,int,bool)
intToStr = str(age)
intToFloat = float(age)
intToBool = bool(age)
print(intToStr,intToFloat,intToBool, sep="-")
#Konversi dari float ke (str,int,bool)
floatToStr = str(scorePython)
floatToInt = int(scorePython)
floatToBool = bool(scorePython)
print(floatToStr,floatToInt,floatToBool, sep="-")
#Konversi dari bool ke (int,float,str)
boolToInt = int(isMarried)
boolToFloat = float(isMarried)
boolToStr = str(isMarried)
print(boolToInt,boolToFloat,boolToStr, sep="-")

7413412-7413412.0-True
18-18.0-True
88.5-88-True
0-0.0-False

In [38]:
#Tipe data basis bilangan (desimal,biner,octal,hexa)

desimal = 500
biner = 0b1010 #10
octal = 0o377 #255
hexa = 0xff #255

print("Nilai desimal :",desimal)
print("Nilai biner :",biner)
print("Nilai octal :",octal)
print("Nilai hexa :",hexa)

print("Nilai biner dari ",desimal, ":",bin(desimal))
print("Nilai octal dari ",desimal, ":",oct(desimal))
print("Nilai hexa dari ",desimal, ":",hex(desimal))

Nilai desimal : 500
Nilai biner : 10
Nilai octal : 255
Nilai hexa : 255
Nilai biner dari  500 : 0b111110100
Nilai octal dari  500 : 0o764
Nilai hexa dari  500 : 0x1f4

In [56]:
#Tipe data Collection
#list
cities = ["Bandung","Sukabumi","Bogor","Jakarta","Medan"]
lengthCities = len(cities)
print(cities)
print(cities[0])
print(cities[lengthCities-1])
print(cities[lengthCities-1][0])
print(cities[lengthCities-1][len(cities[lengthCities-1])-1])
cities[0] = "Bali"
#cities[5] = "Malang" akan menyebabkan error out of range
print(cities)

#Tuple
names = ("Andi","Ferdi","Raihan")
print(names)
print(names[1])
#names[0] = "Dedi" error immutable tuple

#Dictionary
studentData = {
    "name" : "robi",
    "age" : 25,
    "address" : {
        "street" : "Cisaat",
        "number" : 21,
        "province" : "Jawa Barat"
    },
    "isMarried" : True,
    "hobbies" : ["Basket Ball", "Football"]
}

print(studentData)
print(studentData["age"])
print(studentData["address"]["province"])
print(studentData["hobbies"][0])

['Bandung', 'Sukabumi', 'Bogor', 'Jakarta', 'Medan']
Bandung
Medan
M
n
['Bali', 'Sukabumi', 'Bogor', 'Jakarta', 'Medan']
('Andi', 'Ferdi', 'Raihan')
Ferdi
{'name': 'robi', 'age': 25, 'address': {'street': 'Cisaat', 'number': 21, 'province': 'Jawa Barat'}, 'isMarried': True, 'hobbies': ['Basket Ball', 'Football']}
25
Jawa Barat
Basket Ball

In [68]:
#List of Dictionary
studentList = [
    {
        "name" : "Robi",
        "age" : 25,
        "address" : {
            "street" : "Cisaat",
            "number" : 21,
            "province" : "Jawa Barat"
        },
        "isMarried" : True,
        "hobbies" : ["Basket Ball", "Football"]
    },
    {
        "name" : "Dedi",
        "age" : 15,
        "address" : {
            "street" : "Bogor",
            "number" : 29,
            "province" : "Jawa Barat"
        },
        "isMarried" : False,
        "hobbies" : ["Chess", "Singing"]
    }
]
print(studentList[0])
print(studentList[1])
print(studentList[1]["address"]["province"])

#Konversi dictionary

list_list = [["Name","Andi"],["Age",30],["Status",True]]
dictListStudent = dict(list_list)
print(dictListStudent)

list_tuple = [("Name","Rudi"),("Address","Bogor")]
dictTupleStudent = dict(list_tuple)
print(dictTupleStudent)

tuple_list = (["Name","Tiger"],["Type","Mamalia"])
dictListAnimal = dict(tuple_list)
print(dictListAnimal)

tuple_tuple = (("Name","Crocodile"),("Type","Reptile"))
dictTupleAnimal = dict(tuple_tuple)
print(dictTupleAnimal)

keys = ["Vehicle","Brand","cc"]
values = ["Car","BMw",2500]
car = dict(zip(keys,values))
print(car)

{'name': 'Robi', 'age': 25, 'address': {'street': 'Cisaat', 'number': 21, 'province': 'Jawa Barat'}, 'isMarried': True, 'hobbies': ['Basket Ball', 'Football']}
{'name': 'Dedi', 'age': 15, 'address': {'street': 'Bogor', 'number': 29, 'province': 'Jawa Barat'}, 'isMarried': False, 'hobbies': ['Chess', 'Singing']}
Jawa Barat
{'Name': 'Andi', 'Age': 30, 'Status': True}
{'Name': 'Rudi', 'Address': 'Bogor'}
{'Name': 'Tiger', 'Type': 'Mamalia'}
{'Name': 'Crocodile', 'Type': 'Reptile'}
{'Vehicle': 'Car', 'Brand': 'BMw', 'cc': 2500}